<html>
	<head>
		<title>PPT Generate</title>
		<link rel="stylesheet" href="src/bootstrap/bootstrap.min.css"/>
		<link rel="icon" href="src/img/pptxStud.ico"/>
		<style>
			html{
				font-size: 100%;
			}
			header{
				padding: 15px 25px;
			}
			#watermark{
				position: fixed;
				bottom: 10px;
				right: 0;
				border-radius: 500px 0 0 500px;
				background-color: black;
				padding: 3px 15px 3px 3px;
				font-size: 12px;
				box-shadow: 0 0 10px #3e00a0;
				color: white;
				z-index: 10000;
			}
			#watermark img{
				width: 30px;
				height: 30px;
				object-fit: cover;
				border-radius: 50%;
			}
			#watermark span{
				padding-left: 5px;
			}
			#mainBody{
				display: grid;
				grid-template-columns: 15rem auto 15rem;
			}
			/*@media screen and (max-width: 678px) {
				#mainBody{
					grid-template-columns: auto !important;
				}
			}*/
			.mainBodyScrollable{
				height: calc(100vh - 86px);
				overflow-y: auto;
			}
			.smallScrollable{
				height: calc(100vh - 102px);
				overflow-y: auto;
			}
			.grid-h-center{
				display: grid;
				grid-template-columns: 1fr auto 1fr;
			}
			#uploadStudentsForm, #uploadQuestionsForm{
				border: 2px solid black;
				border-radius: 5px;
				padding: 10px;
				width: auto;
				margin: 10px auto;
			}
			.btn{
				border-radius: 500px;
			}
			.card{
				border-radius: 5px;
			}
			.card-header{
				padding: 0.5rem 1rem;
			}
			.card-header h4{
				margin: 0;
			}
			.uploadedImageSide{
				width: 300px !important;
				border-bottom: 1px solid #48217b;
			    border-top: 1px solid #48217b;
			}
			.uploadedImage{
				height: 100px !important;
				border-radius: 10px;
				margin: 1rem 1.5rem;
			}
			.studentSideSpan{
				display: block;
				border-radius: 0px;
				padding: 5px 10px;
				margin: 0;
				cursor: default;
				border-bottom: 2px solid #48217b;
			}
			.studentSpan{
				display: inline-block;
				background: white;
				border-radius: 500px;
				color: black;
				padding: 3px 15px;
				margin: 0 5px 10px 5px;
				cursor: default; 
			}
			.questionCard{
				display: inline-block;
				width: auto;
				max-width: 400px;
				margin: 20px; 
			}
			.questionImageTd{
				width: 100px !important;
				padding: 5px;
			}
			.questionImageTd img{
				width: 70px;
				height: 70px;
				object-fit: cover;
				border-radius: 50%;
			}
			.subQuestion{
				display: block;
			}
			.activeImage{
				box-shadow: 0 0 20px green;
				border-radius: 2px 500px 500px 500px !important;
				border: 3px solid #00ff00;
			}
			td{
				font-size: 0.8rem;
				vertical-align: middle !important;
				cursor: pointer;
			}
			*::-webkit-scrollbar { 
                display: none; 
            }
            body{
            	overflow: hidden;
            }
            #imageAssignModal{
            	width: 100vw !important;
            }
            #imageAssignModal .modal-content{
				min-width: 70vw !important;
				max-width: 90vw !important;
            }
		</style>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	
		<script src="src/pptxgen/pptxgen.bundle.js"></script>

		<script src="src/angularjs/angular.min.js"></script>

		<script src="app/app.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="appCtrl">
		<div id="watermark">
			<img src="src/author.jpg" alt="">
			<span>
				Developed by <strong>Shalem Raj V</strong>
			</span>
		</div>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand">
				<h3 class="text-center ml-2">
					Assign Questions to Students & Create PPTs				
				</h3>
			</a>
			<button
				ng-if="studentsList.length"
				type="button"
				class="navbar-toggler btn btn-danger my-2 my-sm-0 px-3"
				ng-click="resetPage()"
				aria-label="Reset Form"
			>Reset</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<button
						ng-if="studentsList.length"
						type="button"
						class="btn btn-danger my-2 my-sm-0 px-3"
						ng-click="resetPage()"
						aria-label="Reset Form"
					>Reset</button>
				</form>
			</div>
		</nav>

		<div id="mainBody">
			<div class="card text-white bg-primary" style="border-radius: 0 !important; color: white !important;">
				<div class="card-header bg-info" style="padding: 5px 0 0 0 !important;">
					<h6 class="text-center" ng-if="studentsList.length">
						Students ({{studentsList.length}}) &nbsp;&nbsp;
						<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#studentsUploadModal" style="box-shadow: 0 0 5px grey;"> + </button>
					</h6>
					<h6 class="text-center" ng-hide="studentsList.length">Students</h6>
				</div>
				<div class="card-body" ng-if="parsingStudents">
					<div class="card-text text-center pt-5">
						<img class="mb-4" src="src/img/loading.gif" alt="Stay put." style="width : 70px !important; border-radius: 50%;">
						<h3>
							Parsing Students File ...
						</h3>
					</div>
				</div>
				<div class="card-body smallScrollable" style="padding: 0 !important;" ng-if="!parsingStudents">
					<div class="card-text text-center pt-5" ng-if="!studentsList.length">
						No students added yet.
						<br><br><br>
						<button class="btn btn-success" data-toggle="modal" data-target="#studentsUploadModal"> Add Now (+) </button>
					</div>
					<div class="card-text text-center" ng-if="studentsList.length">
						<span
							class="studentSideSpan"
							ng-repeat="student in studentsList track by $index"
							ng-bind="student"
						></span>
					</div>
				</div>
			</div>
			
			<section class="mainBodyScrollable">
				<!-- First Row -->
				<!-- <div class="grid-h-center">
					<div></div>
					<form id="uploadStudentsForm" name="uploadStudentsForm">
						<fieldset>
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-8">
									<div class="form-group">
										<label for="studentsCSV" class="font-weight-bold">Upload Images</label>
										<input
											type="file"
											accept="image/*"
											class="form-control-file"
											id="studentsCSV"
											aria-describedby="fileHelpImages"
											file-input="qImages"
											multiple
											required
										/>
										<small id="fileHelpImages" class="form-text text-muted">
											Upload all images for questions one by one.
										</small>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 text-center">
									<button
										ng-click="uploadMultipleImage()"
										ng-disabled="uploadStudentsForm.$invalid"
										class="btn btn-primary"
										style="margin-top: 5px;"
									>
										Upload
									</button>
								</div>
							</div>
						</fieldset>
					</form>
					<div></div>
				</div> -->

				<!-- Second Row -->	

				<!-- <div class="grid-h-center" ng-hide="studentsList.length">
					<div></div>
					<form id="uploadStudentsForm" name="uploadStudentsForm">
						<fieldset>
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-8">
									<div class="form-group">
										<label for="studentsCSV" class="font-weight-bold">Upload Students List File (CSV)</label>
										<input
											type="file"
											class="form-control-file"
											id="studentsCSV"
											aria-describedby="fileHelpStudents"
											file-input="studentsCSV"
											required
										/>
										<small id="fileHelpStudents" class="form-text text-muted">
											The second column of the file has to contain the names of students.
										</small>
									</div>
								</div>					
								<div class="col-md-4 col-sm-4 col-xs-4 text-center">
									<a
										class="nav-link font-weight-bold text-muted"
										href="uploads/students.csv"
										style="display: inline-block;"
										download
									>
										Download Sample CSV
									</a>
									<button
										ng-click="uploadStudentsCSV()"
										ng-disabled="uploadStudentsForm.$invalid"
										class="btn btn-primary"
										style="margin-top: 5px;"
									>
										Upload
									</button>
								</div>
							</div>
						</fieldset>
					</form>
					<div></div>
				</div> -->

				<!-- Third Row -->
				<div class="grid-h-center m-2" ng-hide="questionsCount">
					<div></div>
					<form id="uploadQuestionsForm" name="uploadQuestionsForm">
						<fieldset>
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-8">
									<div class="form-group">
										<label for="questionsCSV" class="font-weight-bold">Upload Questions List File (CSV)</label>
										<input
											type="file"
											class="form-control-file"
											id="questionsCSV"
											aria-describedby="fileHelpQuestions"
											file-input="questionsCSV"
											required
										/>
										<div class="my-2 text-danger">
											<small class="font-weight-bold">
												The first row of the CSV file will be ignored assuming they are just labels.
												<div>
													(Eg. Group, Number, Question, Sub-question etc.)
												</div>
											</small>
										</div>
										<small id="fileHelpQuestions" class="form-text text-muted">
											The first column needs to be the group number and second column has to contain the question.
										</small>
									</div>
								</div>					
								<div class="col-md-4 col-sm-4 col-xs-4 text-center">
									<a
										class="nav-link font-weight-bold text-muted"
										href="uploads/questions.csv"
										style="display: inline-block;"
										download
									>
										Download Sample CSV
									</a>
									<button
										ng-click="uploadQuestionsCSV()"
										ng-disabled="uploadQuestionsForm.$invalid"
										class="btn btn-success"
										style="margin-top: 5px;"
									>
										Upload
									</button>
								</div>
							</div>
						</fieldset>
					</form>
					<div></div>
				</div>

				<div ng-if="questionsCount">
					<div class="card text-white bg-dark pb-3">
						<div class="card-header">
							<h4 class="text-center">All Questions ({{questionsCount}} groups)</h4>
						</div>
						<div class="card-body text-center">
							<div class="questionCard card text-white bg-primary" ng-repeat="(catKey, questionsGroup) in questionsList">
								<div class="card-header">
									<h4 class="text-center">Questions Group {{$index + 1}} :</h4>
								</div>
								<div class="card-body">
									<div class="card-text text-left">
										<table class="table table-hover">
											<tr ng-repeat="(qKey, question) in questionsGroup">
												<td
													ng-class="{
														'table-primary' 	: ($index % 5==0),
														'table-secondary' 	: ($index % 5==1),
														'table-success' 	: ($index % 5==2),
														'table-danger' 		: ($index % 5==3),
														'table-info' 		: ($index % 5==4)
													}"
													ng-click="initAssignImage(catKey, qKey, question.title, question.image)"
													style="cursor: pointer;"
													data-toggle="modal"
													data-target="#imageAssignModal"
												>
													<img src="src/img/assignImage.png" style="width: 15px;"/>
												</td>
												<td
													ng-hide="question.image.length"
													colspan="2"
													ng-class="{
														'table-primary' 	: ($index % 5==0),
														'table-secondary' 	: ($index % 5==1),
														'table-success' 	: ($index % 5==2),
														'table-danger' 		: ($index % 5==3),
														'table-info' 		: ($index % 5==4)
													}"
													data-toggle="modal"
													data-target="#imageAssignModal"
													ng-click="initAssignImage(catKey, qKey, question.title, question.image)"
												>
													<div ng-bind="question.title"></div>
													<small
														class="subQuestion"
														ng-if="question.subQuestions.length"
														ng-repeat="subQ in question.subQuestions"
													>
														{{$index+1}}. {{subQ}}
													</small>
												</td>
												<td
													ng-if="question.image.length" 
													ng-class="{
														'table-primary' 	: ($index % 5==0),
														'table-secondary' 	: ($index % 5==1),
														'table-success' 	: ($index % 5==2),
														'table-danger' 		: ($index % 5==3),
														'table-info' 		: ($index % 5==4)
													}"
													data-toggle="modal"
													data-target="#imageAssignModal"
													ng-click="initAssignImage(catKey, qKey, question.title, question.image)"
												>
													<div ng-bind="question.title"></div>
													<small
														class="subQuestion"
														ng-if="question.subQuestions.length"
														ng-repeat="subQ in question.subQuestions"
													>
														{{$index+1}}. {{subQ}}
													</small>
												</td>
												<td
													ng-if="question.image.length" 
													ng-class="{
														'table-primary' 	: ($index % 5==0),
														'table-secondary' 	: ($index % 5==1),
														'table-success' 	: ($index % 5==2),
														'table-danger' 		: ($index % 5==3),
														'table-info' 		: ($index % 5==4)
													}"
													class="questionImageTd"
													data-toggle="modal"
													data-target="#imageAssignModal"
													ng-click="initAssignImage(catKey, qKey, question.title, question.image)"
												>
													<img
														ng-src="{{question.image}}"
														alt="{{question.image}}"
													/>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>							
							<div class="text-center">
								<button type="button" class="btn btn-info" ng-click="assignQuestions();">Assign Questions</button>
							</div>
						</div>
					</div>
				</div>

				<div class="mt-3" ng-if="pptList.length">
					<div class="card text-white bg-dark mb-3">
						<div class="card-header">
							<h4 class="text-center">Questions Assigned ({{pptList.length}} sets)</h4>
						</div>
						<div class="card-body text-center">
							<div class="questionCard card text-white bg-primary" ng-repeat="student in pptList track by $index">
								<div class="card-header">
									<h4 class="text-center" ng-bind="student.name"></h4>
								</div>
								<div class="card-body">
									<div class="card-text text-left">
										<table class="table table-hover">
											<tr ng-repeat="question in student.questions track by $index">
												<td
													ng-hide="question.image.length"
													colspan="2"
													ng-class="{
														'table-primary' 	: ($index % 5==0),
														'table-secondary' 	: ($index % 5==1),
														'table-success' 	: ($index % 5==2),
														'table-danger' 		: ($index % 5==3),
														'table-info' 		: ($index % 5==4)
													}"
													ng-bind="question.title"
												></td>
												<td
													ng-if="question.image.length"
													ng-class="{
														'table-primary' 	: ($index % 5==0),
														'table-secondary' 	: ($index % 5==1),
														'table-success' 	: ($index % 5==2),
														'table-danger' 		: ($index % 5==3),
														'table-info' 		: ($index % 5==4)
													}"
													ng-bind="question.title"
												></td>
												<td
													ng-if="question.image.length"
													ng-class="{
														'table-primary' 	: ($index % 5==0),
														'table-secondary' 	: ($index % 5==1),
														'table-success' 	: ($index % 5==2),
														'table-danger' 		: ($index % 5==3),
														'table-info' 		: ($index % 5==4)
													}"
													class="questionImageTd"
												>
													<img
														ng-src="{{question.image}}"
														alt="{{question.image}}"
													/>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="text-center">
								<!-- <button type="button" class="btn btn-info" ng-click="createDownloadIndPPTs();">Create ({{pptList.length * questionsCount}}) PPT and Download</button> -->
								<!-- &nbsp; -->
								<button type="button" class="btn btn-info" ng-click="createDownloadPPTs();">Create ({{pptList.length}}) PPT and Download</button>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="card text-white bg-primary" style="border-radius: 0 !important; color: white !important;">
				<div class="card-header bg-info" style="padding: 5px 0 0 0 !important;">
					<h6 class="text-center" ng-if="imagesList.length">
						Images Uploaded ({{imagesList.length}}) &nbsp;&nbsp;
						<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#imagesUploadModal" style="box-shadow: 0 0 5px grey;"> + </button>
					</h6>
					<h6 class="text-center" ng-hide="imagesList.length">Images Uploaded</h6>
				</div>
				<div class="card-body" ng-if="imagesUploading">
					<div class="card-text text-center pt-5">
						<img class="mb-4" src="src/img/loading.gif" alt="Stay put." style="width : 70px !important; border-radius: 50%;">
						<h3>
							Please wait. Uploading Images ...
						</h3>
					</div>
				</div>
				<div class="card-body smallScrollable" style="padding: 0 !important;" ng-if="!imagesUploading">
					<div class="card-text text-center pt-5" ng-if="!imagesList.length">
						No images uploaded yet.
						<br><br><br>
						<button class="btn btn-success" data-toggle="modal" data-target="#imagesUploadModal"> Add Now (+) </button>
					</div>
					<div class="card-text text-center" ng-if="imagesList.length">
						<img
							class="uploadedImageSide"
							ng-repeat="img in imagesList track by $index"
							ng-src="{{img}}"
						/>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade in" id="studentsUploadModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button id="closeStudentsUploadModal" data-dismiss="modal" style="visibility: hidden;"></button>
						<form id="uploadStudentsForm" name="uploadStudentsForm">
							<fieldset>
								<div class="row">
									<div class="col-md-8 col-sm-8 col-xs-8">
										<div class="form-group">
											<label for="studentsCSV" class="font-weight-bold">Upload Students List File (CSV)</label>
											<input
												type="file"
												class="form-control-file"
												id="studentsCSV"
												aria-describedby="fileHelpStudents"
												file-input="studentsCSV"
												required
											/>
											<div class="my-2 text-danger">
											<small class="font-weight-bold">
												The first row of the CSV file will be ignored assuming they are just labels.
												<div>
													(Eg. RollNo, Student Name etc.)
												</div>
											</small>
										</div>
											<small id="fileHelpStudents" class="form-text text-muted">
												The second column of the file has to contain the names of students which will be the names of files to be downloaded.
											</small>
										</div>
									</div>					
									<div class="col-md-4 col-sm-4 col-xs-4 text-center">
										<a
											class="nav-link font-weight-bold text-muted"
											href="uploads/students.csv"
											style="display: inline-block;"
											download
										>
											Download Sample CSV
										</a>
										<button
											ng-click="uploadStudentsCSV()"
											ng-disabled="uploadStudentsForm.$invalid"
											class="btn btn-primary"
											style="margin-top: 5px;"
										>
											Upload
										</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade in" id="imagesUploadModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button id="closeImagesUploadModal" data-dismiss="modal" style="visibility: hidden;"></button>
						<form id="uploadStudentsForm" name="uploadStudentsForm">
							<fieldset>
								<div class="row">
									<div class="col-md-8 col-sm-8 col-xs-8">
										<div class="form-group">
											<label for="studentsCSV" class="font-weight-bold">Upload Images</label>
											<input
												type="file"
												accept="image/*"
												class="form-control-file"
												id="studentsCSV"
												aria-describedby="fileHelpImages"
												file-input="qImages"
												multiple
												required
											/>
											<small id="fileHelpImages" class="form-text text-muted">
												Upload all images for questions one by one.
											</small>
										</div>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-4 text-center">
										<button
											ng-click="uploadMultipleImage()"
											ng-disabled="uploadStudentsForm.$invalid"
											class="btn btn-primary"
											style="margin-top: 5px;"
										>
											Upload
										</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade in" id="downloadModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Downloading {{downloadingStudent}}'s PPT(s)</h4>
					</div>
					<div class="modal-body">
						<div class="progress">
							<div
								class="progress-bar progress-bar-striped progress-bar-animated"
								role="progressbar"
								aria-valuenow="{{downloadProgress}}"
								aria-valuemin="0"
								aria-valuemax="100"
								ng-style="{width: downloadProgress+'%'}"
							></div>
						</div>
					</div>
					<div class="modal-footer">
						<h6>{{downloadCount}} / {{totalDownloads}}</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade in" id="imageAssignModal">
			<div class="modal-dialog" role="document" style="max-width: 90vw !important;">
				<div class="modal-content">
					<div class="modal-header">
						<span class="modal-title">
							<small>Assign Image for question</small>
							<h4 ng-bind="qTitle"></h4>
						</span>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<img
								class="uploadedImage"
								ng-class="{
									activeImage : (qPath=='')
								}"
								src="src/img/remove.png"
								ng-click="assignImage('')"
								data-dismiss="modal"
							/>
							<img
								class="uploadedImage"
								ng-repeat="img in imagesList track by $index"
								ng-class="{ activeImage : (img==qPath) }"
								ng-src="{{img}}"
								ng-click="assignImage(img)"
								data-dismiss="modal"
							/>
						</div>
					</div>
					<div class="modal-footer">
						<small>Simply click on the image to assign it to the question</small>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>